<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>
      {{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title
      }}{{ end }}
    </title>
    <meta
      name="description"
      content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}"
    />
    {{ with .Site.Params.font_css }}
    <link rel="stylesheet" href="{{ . }}" />
    {{ end }} {{ with (templates.Defer (dict "key" "global")) }} {{ partial
    "css.html" . }} {{ end }}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    {{ template "_internal/google_analytics.html" . }} {{ block "head" . }}{{
    end }}
  </head>
  <body class="bg-white font-body">
    <div class="pt-16 pb-20 px-4 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
      <div class="relative max-w-2xl mx-auto">
        {{ partial "header.html" . }} {{ block "main" . }}{{ end }} {{ partial
        "footer.html" . }}
      </div>
    </div>
  </body>
</html>
