{{ define "main" }}
<main class="mt-7" role="main">
  <section aria-label="Latest episodes">
    <div class="grid gap-12 border-t-2 border-gray-100 py-8">
      {{ $episodes := sort (where .Site.RegularPages "Type" "episodes") "Date" "desc" }}
      {{ range first 10 $episodes }}
        {{ partial "episode-preview.html" . }}
      {{ end }}
    </div>
  </section>
  {{ if gt $episodes 10 }}
  <section aria-label="View all episodes">
    <div class="grid gap-16 border-t-2 border-gray-100 py-10">
      <a class="text-base leading-6 font-semibold text-teal-600 hover:text-teal-700" href="{{ "all" | relURL }}">{{ .Site.Params.all_episodes_label }} →</a>
    </div>
  </section>
  {{ end }}
</main>
{{ end }}
